/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --primary-background-color: #282d35;
  --secondary-background-color: #21222a;
  --primary-text-color: #ffffff;
  --secondary-text-color: #61dafb;
  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
  --inactive-button-text-color-dark-mode: #918e9b;
  --inactive-button-text-color-light-mode: #d5d4d8;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: var(--primary-font-family);
  font-style: normal;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

/* Header */

/* Header typography */
.title {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 1.391rem;
  line-height: 1.688rem;
  letter-spacing: -0.05em;
  color: var(--secondary-text-color);
}

.input-checkbox[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label.toggle {
  color: #f5f5f5;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 100px;
  width: 50%;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.label-text {
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 0.688rem;
  text-align: center;
  text-transform: capitalize;
}
.dark--text {
  color: #ffffff;
  margin-left: 0.5em;
  
}
.light--text {
  color: #918e9b;
  margin-right: 0.5em;
  order: -1;
}
.input-checkbox:checked ~ .dark--text {
  color: #D5D4D8;
}
.input-checkbox:checked  ~  .light--text {
color: #2B283A;
}

label.toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 6%;
  width: 16px;
  height: 16px;
  background: #222222;
  border-radius: 16px;
  transition: 0.3s;
}
.input-checkbox:checked + label.toggle::after {
  right: calc(100% - 6%);
  transform: translateX(100%);
  background: #ffffff;
}
.input-checkbox:checked + label.toggle {
  color: #2b283a;
  background: #2b283a;
}
/* Header layout */
.icon {
  margin-right: 0.438em;
}
.Header {
  padding: 2.188em;
  background-color: var(--secondary-background-color);
}
.Header,
.icon--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form{
  display: flex;
  align-items: center;
}
